body {
    background-color: pink;
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 400 !important; 
    font-style: normal !important;
    min-height: 100vh;
    flex-direction: column;
    display: flex;

}
.container{
        flex: 1;
}

.navbar{
    height: 5rem;
    background-color: white;
}
.navbar .navbar-brand{
    color: #ff385c !important;
    font-size: 2rem !important;
}
.nav-link{
    color: #222222 !important;

}

.navbar-collapse{
    background-color: white !important;
    
}

@media (max-width: 768px) {
  .navbar .d-flex {
    margin-bottom: 1rem;
  }
}


/* Footer */
.f-info-links a{
    text-decoration: none !important;
    color: #222222 !important;
}
.f-info-links a:hover{
    text-decoration: underline !important;
}
.f-info-links,.f-info-socials,.f-info-brand{
    width:100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.f-info-socials i{
    font-size: 1.2rem !important;
    align-items: space-evenly !important;
}

.f-info{
    text-align: center !important;
    height: 8rem !important;
    background-color: #ebebeb !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: space-evenly !important;
}
/* Cards */

.card{
    border: none !important;
    margin-bottom: 2rem;

}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;

}

.card-body{
    padding: 0;

}
.card-text p{
    font-weight: 400 !important;

}

.listing-link{
    text-decoration: none;
}
/* .listing-link:hover{
    text-decoration: none;
    transform: translateY(3px);
    color: black;
} */
.card-imgg-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;

}
.add-btn{
    color: white !important;
    border: none !important;
    background-color: #ff385c   !important;
}
.edit-btn {
  background-color: #ff385c !important;
  border: none !important;
}
.show-img{
    height: 30vh;

}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0 !important;
    padding-right:0 !important;
}